.container{
  width: 500px;
  margin-top: 30px;
  padding :20px ;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
}
.left h3{
  text-align: center;
}
.error {
  color: red;
  font-size: 0.9em;
}
.left input {
  border: none;
  width: 80%;

  margin-top: 5px;
  border-bottom: 1px solid #4f30677d;
  padding: 10px 10px;

  overflow: hidden;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
}
.submit {
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  display: block;
   margin-right: auto;
  margin-left: auto; 

  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #583672;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.top_link  button{
  border: none;
  background: none;
  color: #583672;
  text-decoration: underline;
  font-weight: 500;
}