<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-2">
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/customers">
          <img
            src="../assets/customerLogo.png"
            class="card-img-top"
            alt="..."
          />
          <h5 class="card-title">Customers</h5></a
        >
        <p>Total: {{ totalCustomerCount }}</p>
      </div>
    </div>

    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/viewPlan">
          <img src="../assets/plan.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Insurance Plans</h5></a
        >
        <p>Total: {{ totalPlanCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/viewAgent">
          <img src="../assets/agent.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Agents</h5></a
        >
        <p>Total: {{ totalAgentCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="admin/viewEmployee">
          <img src="../assets/employee.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Employees</h5></a
        >
        <p>Total: {{ totalEmployeeCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/cliams">
          <img src="../assets/claim.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Claims</h5></a
        >
        <p>Total: {{ totalClaimCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/complaints">
          <img src="../assets/complaint.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Complaints</h5></a
        >
        <p>Total: {{ totalComplaintCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/commissions/withdraw">
          <img src="../assets/money.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Withdraw</h5></a
        >
        <p>Total: {{ totalCommissionCount }}</p>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-center">
        <a href="/admin/payments">
          <img src="../assets/payment.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Payments</h5></a
        >
        <p>Total:{{ totalPaymentCount }}</p>
      </div>
    </div>
  </div>
</div>
