.container{
    margin-top: 50px;
    width: 40%;
    top: 30%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
h5{
    text-align: center;
    padding-top: 20px;
}
input {
   
    width: 80%;
    margin-top: 30px;
    margin-left: 20px;
    border: 1px solid #4f30677d;
    padding: 10px 10px;
  
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  textarea{
    width: 80%;
    margin-top: 30px;
    margin-left: 20px;
    border: 1px solid #4f30677d;
    text-align: justify;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  .err{
    padding-left: 30px;
  }
.submit {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  }
  small{
    margin-left: 15px;
  }
  
  .top_link  button{
    border: none;
    background: none;
    color: #583672;
    text-decoration: underline;
    font-weight: 500;
  }