<div class="wrapper">
<div *ngIf="isCustomer">
  <app-customer-header></app-customer-header>
</div>
<div *ngIf="isAdmin">
  <app-admin-header></app-admin-header>
</div>
<div *ngIf="isAgent">
  <app-agent-header></app-agent-header>
</div>
<div *ngIf="isEmployee">
  <app-employee-header></app-employee-header>
</div>
<div class="top_link">
  <button (click)="goBack()" class="ms-3 mt-2" ><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download"
      alt=""/>Back</button>
</div>
<div class="container">
  


    <form class="row g-2" [formGroup]="changePasswordForm">
      <div class="heading">
        <h2>Change Password</h2>
      </div>
      <div class="col-md-12 ">
        <input type="text" formControlName="userName" placeholder="USER NAME*" /><br>
        <small 
        
        *ngIf="
          changePasswordForm.get('userName')?.dirty &&
          changePasswordForm.get('userName')?.hasError('required')
        "
        class="text-danger error"
        >*User Name is required.<br></small
      >
      </div>
      <div class="col-md-12">
        <input
          type="password"
          formControlName="password"
          placeholder="OLD PASSWORD*"
        /><br>
        <small 
        *ngIf="
          changePasswordForm.get('password')?.dirty &&
          changePasswordForm.get('password')?.hasError('required')
        "
        class="text-danger error"
        > *Password is required.<br></small
      >
      </div>

      <div class="col-md-12">
        <input
          type="password"
          formControlName="newPassword"
          placeholder="NEW PASSWORD*"
        /><br>
        <small 
        *ngIf="
          changePasswordForm.get('newPassword')?.dirty &&
          changePasswordForm.get('newPassword')?.hasError('required')
        "
        class="text-danger"
        >*New Password is required.<br></small
      >
      <small
      *ngIf="
        changePasswordForm.get('newPassword')?.dirty &&
        changePasswordForm.get('newPassword')?.hasError('passwordValidator')
      "
      class="text-danger"
      [innerHTML]="
        changePasswordForm.get('newPassword')?.getError('passwordValidator')
          .message
      "
    ></small>
      </div>

      <div class="col-12">
        <button type="submit" class="submit" (click)="updatePassword()">Change Password</button>
      </div>
    </form>

</div>
</div>
<app-footer-other></app-footer-other>
