<div class="wrapper">
  <app-admin-header></app-admin-header>
  <div class="container main-content mt-4">
    <div class="page-header">
      <div class="d-flex align-items-center gap-3">
        <app-back-button></app-back-button>
        <h2 class="page-title m-0">Employees</h2>
      </div>
      <button id="button" class="btn btn-secondary" (click)="addEmployee()">
        Add Employee
      </button>
    </div>
    <div class="row">
      <div class="pagination-controls ms-4 mb-3 pt-3">
        <!-- Other pagination elements -->
        <label for="pageSizeSelect">Page Size:</label>
        <select
          id="pageSizeSelect"
          class="form-control"
          (change)="onPageSizeChange($event)"
        >
          <option value="{{ pageSize }}" *ngFor="let pageSize of pageSizes">
            {{ pageSize }}
          </option>
          <!-- Add more options as needed -->
        </select>
        <div class="search-container">
          <input
            class="search"
            type="string"
            class="search"
            id="searchQuery"
            [(ngModel)]="searchQuery"
            [min]="1"
            placeholder="Search by Emp FirstName"
          />
          <button
            *ngIf="!isSearch"
            class="search-btn ms-1 mb-1"
            (click)="onSearch()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </button>
          <button
            *ngIf="isSearch"
            class="search-btn ms-1 mb-1"
            (click)="resetSearch()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <table class="table table-light table-responsive-md table-hover Data-table">
      <thead>
        <tr>
          <th scope="col-2">Sr.</th>
          <!-- <th scope="col">Employee ID</th> -->
          <th scope="col-2" >First Name</th>
          <th scope="col-2">Last Name</th>
          <th scope="col-2">Phone</th>
          <th scope="col-2">Email</th>
          <th scope="col-2">Salary</th>
          <th scope="col-2" class="action-column">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="employees.length > 0">
        <tr *ngFor="let emp of employees; let i = index">
          <td scope="col-2">
            {{ calculateSRNumber(i) }}
          </td>

          <!-- <td>
            {{ emp.employeeId }}
          </td> -->
          <td scope="col-2">
            {{ emp.firstName }}
          </td>
          <td scope="col-2">
            {{ emp.lastName }}
          </td>
          <td scope="col-2">
            {{ emp.mobileNumber }}
          </td>
          <td scope="col-2">
            {{ emp.email }}
          </td>
          <td scope="col-2">
            <div *ngIf="emp.isEdit">
              <form [formGroup]="updateEmpForm">
                <input
                  type="number"
                  [(ngModel)]="emp.salary"
                  min="0"
                  formControlName="salary"
                  placeholder="{{ emp.salary }}"
                />
                <br />
                <small
                  *ngIf="
                    updateEmpForm.get('salary')?.dirty &&
                    updateEmpForm.get('salary')?.hasError('min')
                  "
                  class="text-danger"
                  >*Salary can not be negative.</small
                >
                <small
                  *ngIf="
                    updateEmpForm.get('salary')?.dirty &&
                    updateEmpForm.get('salary')?.hasError('required')
                  "
                  class="text-danger"
                  >*required.</small
                >
              </form>
            </div>
            <div *ngIf="!emp.isEdit">&#x20B9;{{ emp.salary }}</div>
          </td>

          <td class="action-column">
            <div *ngIf="!emp.isEdit" class="action-group">
              <button
                type="button"
                class="action-icon action-icon-edit"
                aria-label="Edit employee"
                title="Edit"
                (click)="OnEdit(emp)"
              >
                <i class="pi pi-pencil"></i>
              </button>

              <button
                type="button"
                class="action-icon action-icon-delete"
                aria-label="Delete employee"
                title="Delete"
                (click)="onDelete(emp)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </div>
            <div *ngIf="emp.isEdit" class="action-group">
              <button
                type="button"
                class="action-icon action-icon-save"
                aria-label="Save employee"
                title="Save"
                (click)="onUpdate(emp)"
              >
                <i class="pi pi-check"></i>
              </button>

              <button
                type="button"
                class="action-icon action-icon-cancel"
                aria-label="Cancel edit"
                title="Cancel"
                (click)="onCancel(emp)"
              >
                <i class="pi pi-times"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="employees.length == 0">
        <tr class="text-center">
          <td colspan="7">No Employee Data Found</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <li class="page-item text-center ms-1" *ngIf="currentPage > 1">
          <a
            class="page-link"
            (click)="changePage(currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item text-center ms-1" *ngFor="let page of pageNumbers">
          <a
            class="page-link"
            [ngClass]="{ active: currentPage === page }"
            (click)="changePage(page)"
            >{{ page }}</a
          >
        </li>
        <li
          class="page-item text-center ms-1"
          *ngIf="currentPage < pageNumbers.length"
        >
          <a
            class="page-link"
            (click)="changePage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <app-footer-other></app-footer-other>
</div>
