<div class="wrapper">
  <!-- Header Sections based on User Type -->
  <div *ngIf="isEmployee"><app-employee-header></app-employee-header></div>
  <div *ngIf="isAdmin"><app-admin-header></app-admin-header></div>

  <!-- Back Button Section -->
  <div class="top_link">
    <button (click)="goBack()" class="ms-3 mt-2">
      Back
    </button>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <!-- Pagination and Search Controls -->
      <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
        <div class="me-3">
          <!-- Page Size Selector -->
          <select
            id="pageSizeSelect"
            class="form-control"
            (change)="onPageSizeChange($event)"
          >
            <option value="{{ pageSize }}" *ngFor="let pageSize of pageSizes">
              {{ pageSize }}
            </option>
          </select>
        </div>

        <!-- Date Range Search Filter -->
        <div class="d-flex align-items-center">
          <input
            type="date"
            class="form-control me-2"
            id="fromDate"
            [(ngModel)]="fromDate"
            placeholder="From Date"
          />
          <input
            type="date"
            class="form-control me-2"
            id="toDate"
            [(ngModel)]="toDate"
            placeholder="To Date"
          />
          <button
            *ngIf="!isSearch"
            class="search-btn ms-1"
            (click)="onSearch()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </button>
          <button
            *ngIf="isSearch"
            class="search-btn ms-1"
            (click)="resetSearch()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Complaints Table -->
    <table class="table table-light table-responsive-md table-hover Data-table">
      <thead>
        <tr>
          <th scope="col">Sr.</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Date of Complaint</th>
          <th scope="col">Response</th>
          <th *ngIf="isEmployee" scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="complaints != null">
        <tr *ngFor="let complaint of complaints; let i = index">
          <td>{{ calculateSRNumber(i) }}</td>
          <td>{{ complaint.complaintName }}</td>
          <td>{{ complaint.complaintMessage }}</td>
          <td>{{ complaint.dateOfComplaint | date : "dd-MM-YYYY" }}</td>
          <td>
            <div *ngIf="complaint.response == null">Pending</div>
            <div *ngIf="complaint.response != null">
              {{ complaint.response }}
            </div>
          </td>
          <td>
            <div *ngIf="complaint.response == null && isEmployee==true">
              <button class="btn btn-primary" (click)="onReply(complaint)">
                Reply
              </button>
            </div>
            <div *ngIf="complaint.response != null && isEmployee==true">
              <p>Replied</p>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot scope="col" *ngIf="complaints.length == 0">
        <tr class="text-center">
          <td colspan="10">No Compliant Data Found</td>
        </tr>
      </tfoot>
    </table>

    <!-- Pagination -->
    <div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="currentPage > 1">
            <a
              class="page-link"
              (click)="changePage(currentPage - 1)"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of pageNumbers"
          >
            <a
              class="page-link"
              [ngClass]="{ active: currentPage === page }"
              (click)="changePage(page)"
              >{{ page }}</a
            >
          </li>
          <li class="page-item" *ngIf="currentPage < pageNumbers.length">
            <a
              class="page-link"
              (click)="changePage(currentPage + 1)"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Modal for Complaint Response -->
  <div class="modal fade" id="complaintReplyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Response</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="complaintResponseForm">
            <div class="row">
              <div class="col">
                <label for="response">Complaint Response</label>
                <textarea
                  type="text"
                  rows="5"
                  formControlName="response"
                  placeholder=" Enter Message"
                  aria-label="response"
                ></textarea>
                <br />
                <small
                  *ngIf="complaintResponseForm.get('response')?.dirty && complaintResponseForm.get('response')?.hasError('required')"
                  class="text-danger"
                >
                  *Field is required.
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            id="save"
            type="button"
            class="btn btn-primary"
            (click)="updateComplaint()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-other></app-footer-other>
