<div class="wrapper">
  <div *ngIf="isEmployee">
    <app-employee-header></app-employee-header>
    </div>
    <div *ngIf="isAdmin">
        <app-admin-header></app-admin-header>
    </div>
  <!-- Button trigger modal -->
  <div class="top_link" *ngIf="this.commissions.length!=0">
    <button (click)="goBack()" class="ms-3 mt-2" ><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download"
        alt=""/>Back</button>
  </div>
   <div class="container" *ngIf="this.commissions.length!=0">
    <div class="row">
      <div class="pagination-controls ms-4 mb-3 pt-3">
        <!-- Other pagination elements -->
        <label for="pageSizeSelect">Page Size:</label>
        <select
          id="pageSizeSelect"
          class="form-control"
          (change)="onPageSizeChange($event)"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <!-- Add more options as needed -->
        </select>
        <!-- <div class="search-container">
        <input
          type="text"
          class="form-control search"
          id="searchQuery"
          [(ngModel)]="searchQuery"
          (keyup)="onSearch()"
          placeholder= "Start filtering by id or plan name.."
        />
        
      </div> -->
      </div>
    </div>
    <table class="table table-light table-responsive-md Data-table table-hover" >
      <thead>
        <tr>
          <th scope="col">Sr.</th>
          
          <th scope="col">Policy Number</th>
          <th scope="col">Commission Type</th>
          <th>Date</th>
          <th scope="col">Commission Amount</th>
          
          <th scope="col" colspan="2">More</th>
       
        </tr>
      </thead>
      <tbody *ngIf="totalCommissionCount>0">
         <tr *ngFor="let commission of commissions;let i=index">
          <td>{{calculateSRNumber(i)}}</td>
          
          <td>{{commission.policyNumber}}</td>
          <td>{{commission.commissionType}}</td>
          <td>{{commission.date |date:"dd-MM-YYYY"}}</td>
          <td>&#x20B9;{{roundToTwoDecimals(commission.amount)}}</td>
          

          
          <td><button class="btn btn-primary"   data-bs-toggle="modal"
              data-bs-target="#policyModal" (click)="ViewDetail(i)">View Details</button></td>
              
         </tr>
      </tbody>
      <tfoot *ngIf="totalCommissionCount==0">
        <tr class ="text-center" >
          <td colspan="8"> No Commission Data Found</td>
        </tr>
      </tfoot>
    </table>
  </div> 
  <div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <li class="page-item text-center ms-1" *ngIf="currentPage > 1">
          <a
            class="page-link"
            (click)="changePage(currentPage-1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item text-center ms-1" *ngFor="let page of pageNumbers">
          <a
            class="page-link"
            [ngClass]="{ active: currentPage === page }"
            (click)="changePage(page)"
            >{{ page }}</a
          >
        </li>
        <li
          class="page-item text-center ms-1"
          *ngIf="currentPage < pageNumbers.length"
        >
          <a
            class="page-link"
            (click)="changePage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div
class="modal fade"
id="policyModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-body">
      <table>
          <tr>
              <td>Customer Name:</td>
              <td>{{ customerData.firstName }} {{customerData.lastName}} </td>
            </tr>
        
          <tr>
              <td>Mobile No:</td>
              <td> +91 {{ customerData.mobileNumber }}  </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{customerData.email}}</td>
          </tr>
        <tr>
          
          <td>Policy No:</td>
          <td>{{ policyData.policyNumber }} </td>
          
        </tr>
         <!-- <tr>
          <td>SchemeId</td>
          <td>{{ policyData.insuranceSchemeId }} </td>
        </tr> -->
        <tr>
          <td>Issue Date:</td>
          <td>{{ policyData.issueDate|date:"dd-MM-YYYY" }} </td>
        </tr>
        <tr>
          <td>Maturity Date:</td>
          <td>{{ policyData.maturityDate|date:"dd-MM-YYYY" }} </td>
        </tr>

        <tr>
          <td> Maturity Amount:</td>
          <td>
            <span style="font-family: 'RupeeFont'">₹</span
            >{{ policyData.sumAssured }}
          </td>
        </tr>
        <tr>
          <td> Premium Amount:</td>
          <td>
            <span style="font-family: 'RupeeFont'">₹</span
            >{{ roundToTwoDecimals(policyData.premiumAmount) }}
          </td>
        </tr>
        
        
        <!-- <tr>
            <td>Required Documents:</td>
            <td *ngFor="let rdoc of scheme.additionalDetail.requiredDocuments"><span>{{rdoc.docType}},</span></td>
          </tr> -->
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>
  </div>
  <app-footer-other></app-footer-other>
  
  