<div class="hero_area">
  <div class="hero_bg_box">
    <img src="../assets/hero-bg.jpg"alt="">
  </div>
  <!-- header section strats -->
 
 <app-home-header></app-home-header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-8 col-lg-7 ">
                <div class="detail-box">
                  <h1>
                    Protect Your Family <br>
                    and Your Future
                  </h1>
                  <p>
                    Insurance provides a safety net for life's uncertainties, empowering individuals to live with peace of mind knowing they are protected from the unexpected. It offers financial security, ensuring that families and loved ones are safeguarded even in challenging times. With insurance, you invest in a secure and resilient future
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-8 col-lg-7 ">
                <div class="detail-box">
                  <h1>
                    Protect Your Family <br>
                    and Your Future
                  </h1>
                  <p>
                    Insurance provides a safety net for life's uncertainties, empowering individuals to live with peace of mind knowing they are protected from the unexpected. It offers financial security, ensuring that families and loved ones are safeguarded even in challenging times. With insurance, you invest in a secure and resilient future
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-8 col-lg-7 ">
                <div class="detail-box">
                  <h1>
                    Protect Your Family <br>
                    and Your Future
                  </h1>
                  <p>
                    Insurance provides a safety net for life's uncertainties, empowering individuals to live with peace of mind knowing they are protected from the unexpected. It offers financial security, ensuring that families and loved ones are safeguarded even in challenging times. With insurance, you invest in a secure and resilient future
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" type="button" data-bs-target="#customCarousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" type="button" data-bs-target="#customCarousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
      
    </div>
  </section>
  <!-- end slider section -->
 
</div>
  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          What Says Our Client
        </h2>
        <hr>
      </div>
      <div id="customCarousel2" class="carousel slide">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container ">
                    <div class="detail-box">
                      <p>
                        I've had an exceptional experience with this insurance service. The team is professional, responsive, and made the entire process easy to understand. The coverage options are comprehensive, and I feel confident knowing my family and I are well-protected. Highly recommend this service to anyone looking for reliable and trustworthy insurance solutions!
                        <span>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </span>
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="../assets/client.jpg" alt="">
                      </div>
                      <div class="client_name">
                        <h5>
                          Nilesh Rane
                        </h5>
                        <h6>
                          Client
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container ">
                    <div class="detail-box">
                      <p>
                        I've had an exceptional experience with this insurance service. The team is professional, responsive, and made the entire process easy to understand. The coverage options are comprehensive, and I feel confident knowing my family and I are well-protected. Highly recommend this service to anyone looking for reliable and trustworthy insurance solutions!
                        <span>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </span>
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="../assets/client.jpg" alt="">
                      </div>
                      <div class="client_name">
                        <h5>
                          Rohit Chavan
                        </h5>
                        <h6>
                          Client
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container ">
                    <div class="detail-box">
                      <p>
                        I've had an exceptional experience with this insurance service. The team is professional, responsive, and made the entire process easy to understand. The coverage options are comprehensive, and I feel confident knowing my family and I are well-protected. Highly recommend this service to anyone looking for reliable and trustworthy insurance solutions!
                        <span>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </span>
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="../assets/client.jpg" alt="">
                      </div>
                      <div class="client_name">
                        <h5>
                          Yogesh Raut
                        </h5>
                        <h6>
                          Client
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="carousel_btn-box">
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </section>


 
 
