<app-customer-header></app-customer-header>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" /> 

<div class="box">
<div class="container" >
  <div class="row ">
          <div class="col-lg-8 ">
              <div class="card">
                  <div class="card-body">
                      <div class="invoice-title">
                          <h4 class="float-end font-size-15">Invoice<span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                          <div class="mb-4">
                             <h2 class="mb-1 text-muted">NewInsurance.com</h2>
                          </div>
                          <div class="text-muted">
                              <p class="mb-1">Maharashtra, Mumbai, Pin-400078</p>
                              <p class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-arrow-down" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4.5a.5.5 0 0 1-1 0V5.383l-7 4.2-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-1.99V4Zm1 7.105 4.708-2.897L1 5.383v5.722ZM1 4v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1Z"/>
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-1.646a.5.5 0 0 1-.722-.016l-1.149-1.25a.5.5 0 1 1 .737-.676l.28.305V11a.5.5 0 0 1 1 0v1.793l.396-.397a.5.5 0 0 1 .708.708l-1.25 1.25Z"/>
                              </svg>
                              newinsurance&#64;gmail.com</p>
                              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg> +91-8306509948</p>
                          </div>
                      </div>
  
                      <hr class="my-4">
  
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="text-muted">
                                  <h5 class="font-size-16 mb-3">Billed To:</h5>
                                  <h3 class="font-size-15 mb-2">{{this.customerData.customer['firstName']}} {{this.customerData.customer['lastName']}}</h3>
                                  <p class="mb-1">{{customerData.customer['address']}}</p>
                                  <p class="mb-1">{{customerData.customer['email']}}</p>
                                  <p>{{customerData.customer['mobileNumber']}}</p>
                              </div>
                          </div>
                          <!-- end col -->
                          <div class="col-sm-6">
                              <div class="text-muted text-sm-end">
                                  <div>
                                      <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                      <p>#DZ{{paymentData.body['paymentId']}}</p>
                                  </div>
                                  <div class="mt-4">
                                      <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                      <p>{{paymentData.body['paymentDate']|date:'dd-MM-YYYY'}}</p>
                                  </div>
                                  
                              </div>
                          </div>
                          <!-- end col -->
                      </div>
                      <!-- end row -->
                      
                      <div class="py-2">
                          <h5 class="font-size-15">Payment Summary</h5>
  
                          <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                              <thead>
                                <tr>
                                  <th style="padding: 12px 15px; text-align: left;">Scheme Name</th>
                                  <th style="padding: 12px 15px; text-align: left;">Policy Number</th>
                                  <th style="padding: 12px 15px; text-align: right;">Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- Table Row for Scheme Details -->
                                <tr style="background-color: #f9f9f9;">
                                  <th scope="row" style="padding: 12px 15px; text-align: left; color: #555;">{{schemeData.body['schemeName']}}</th>
                                  <td style="padding: 12px 15px; text-align: left; color: #555;">
                                    <p>{{policy.body['policyNumber']}}</p>
                                  </td>
                                  <td style="padding: 12px 15px; text-align: right; color: #555;">
                                    <p>&#8377;{{roundToTwoDecimals(policy.body['premiumAmount'])}}</p>
                                  </td>
                                </tr>
                          
                                <!-- Subtotal Row -->
                                <tr style="background-color: #f9f9f9;">
                                  <th scope="row" colspan="2" class="text-end" style="padding: 12px 15px;">Sub Total</th>
                                  <td class="text-end" style="padding: 12px 15px; color: #555;">&#8377;{{roundToTwoDecimals(policy.body['premiumAmount'])}}</td>
                                </tr>
                          
                                <!-- Tax Row -->
                                <tr>
                                  <th scope="row" colspan="2" class="text-end" style="padding: 12px 15px;">Tax</th>
                                  <td class="text-end" style="padding: 12px 15px; color: #555;">&#8377;{{roundToTwoDecimals(calculateTax())}}</td>
                                </tr>
                          
                                <!-- Total Row -->
                                <tr>
                                  <th scope="row" colspan="2" class="text-end" style="padding: 12px 15px; font-weight: bold;">Total</th>
                                  <td class="text-end" style="padding: 12px 15px; font-weight: bold; color: #007bff;">
                                    <h4 class="m-0 fw-semibold">&#8377;{{roundToTwoDecimals(paymentData.body['amount'])}}</h4>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div><!-- end table -->
                          </div><!-- end table responsive -->
                          <div class="d-print-none mt-4">
                              <div class="float-end">
                                  <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                  
                              </div>
                              <div class="float-end">
                                <a href="/customer" class="btn btn-success me-1">Go to Dashboard</a>
                                
                            </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- end col -->
      </div>
  </div>
