
<div class="container">
    <div class="row row-cols-3 row-cols-md-4 ">
      
    
        <div class="col">
            <div class="card m-4 text-center"  >
              <a href="employee/customers"><img src="../assets/customerLogo.png" class="card-img-top" alt="..."> 
              <h5 class="card-title">Customers</h5></a>
              <p>Total: {{totalCustomerCount}}</p>
            </div> 
          </div>
   
    <div class="col">
      <div class="card m-4 text-center"  >
       <a href="/employee/viewAgent"> <img src="../assets/agent.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Agents</h5></a>
        <p>Total: {{totalAgentCount}}</p>
      </div> 
    </div>
   
    
    <div class="col">
      <div class="card m-4 text-center"  >
        <a href="/employee/complaints"><img src="../assets/complaint.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Complaints</h5></a>
        <p>Total: {{totalComplaintCount}}</p>
      </div> 
    </div>
     
    
    <div class="col">
      <div class="card m-4 text-center"  >
       <a href="/employee/profile"> <img src="../assets/user.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Profile</h5></a>
      </div> 
    </div>
  </div>
</div>



  