<div class="container">
  <div class="row row-cols-2 row-cols-md-3">
    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/register/customer/"
          ><img
            src="../assets/registration.png"
            class="card-img-top"
            alt="..."
          />
          <h5 class="card-title">Register Customer</h5></a
        >
      </div>
    </div>

    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/register/policy/"
          ><img src="../assets/policy.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Register Policy</h5></a
        >
      </div>
    </div>
    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/commissions">
          <img src="../assets/commission.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Commission</h5></a
        >
        <!-- <p>Total: {{ totalCommissionCount }}</p> -->
      </div>
    </div>
    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/view/plans"
          ><img src="../assets/insurance.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Insurance Plan</h5></a
        >
        <!-- <p>Total: {{ totalPlanCount }}</p> -->
      </div>
    </div>

    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/customers/"
          ><img
            src="../assets/customerLogo.png"
            class="card-img-top"
            alt="..."
          />
          <h5 class="card-title">Customers</h5></a
        >
        <!-- <p>Total: {{ totalCustomerCount }}</p> -->
      </div>
    </div>
    <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/customer/policies"
          ><img src="../assets/policy.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Policies</h5></a
        >
      </div>
    </div>
    <!-- <div class="col">
      <div class="card m-4 text-center">
        <a href="/agent/profile"
          ><img src="../assets/user.png" class="card-img-top" alt="..." />
          <h5 class="card-title">Profile</h5></a
        >
      </div>
    </div> -->
  </div>
</div>
