

<div class="container">
    <div class="row row-cols-2 row-cols-md-3 ">
      
    
        <div class="col">
            <div class="card m-4 text-center"  >
              <a href="/customer/policies"><img src="../assets/policy.png" class="card-img-top" alt="..."> 
              <h5 class="card-title">Policies</h5></a>
              <p>{{customerProfile.policyCount}}</p>
            </div> 
          </div>
    <div class="col">
      <div class="card m-4 text-center"  >
        <a href="/customer/documents"><img src="../assets/plan.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Documents</h5></a>
        <p>
          Total: {{customerProfile.documents.length}}
        </p>
      </div> 
    </div>
    <!-- <div class="col">
      <div class="card m-4 text-center"  >
       <a href="/customer/agents"> <img src="../assets/agent.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Agents</h5></a>
        <p>
          Total: {{totalNoAgent}}
        </p>
      </div> 
    </div> -->
   
    
    <div class="col">
      <div class="card m-4 text-center"  >
        <a href="/customer/complaints"><img src="../assets/complaint.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Complaints</h5></a>
        <p>
          Total: {{customerProfile.queriesCount}}
        </p>
      </div> 
    </div>
    <div class="col">
      <div class="card m-4 text-center"  >
       <a href="/customer/claims"> <img src="../assets/claim.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Claims</h5></a>
      </div> 
    </div>
    <div class="col">
      <div class="card m-4 text-center"  >
        <a href="/customer/profile"><img src="../assets/user.png" class="card-img-top" alt="..."> 
        <h5 class="card-title">Profile</h5></a>
      </div> 
    </div> 
  </div>
</div>



  