.container {
    width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    background: #fff;
    /* border-radius: 10px; */
    /* box-shadow: 1px 4px 22px -8px #0004; */
    display: flex;
  
    overflow: hidden;
  }
  .submit {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
    background: #4169e1;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
    box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  }
  .profile {
    text-align: center;
    padding-right: 20px;
  }
  
  h4 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .table-input{
      margin-top: 5px;
  }
 
 