<div class="wrapper">
  <app-agent-header></app-agent-header>
  <!-- Button trigger modal -->

  <div class="container">
    <app-page-header backClassName="ms-1">
      <h2 page-title class="page-title m-0">Commission</h2>
    </app-page-header>
    <div class="row">
      <div class="pagination-controls ms-4 mb-3 pt-3">
        <!-- Other pagination elements -->
        <label for="pageSizeSelect">Page Size:</label>
        <select
          id="pageSizeSelect"
          class="form-control"
          (change)="onPageSizeChange($event)"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <!-- Add more options as needed -->
        </select>
        <div class="search-container">
          <input
            type="text"
            class="form-control search"
            id="searchQuery"
            [(ngModel)]="searchQuery"
            (keyup)="onSearch()"
            placeholder="Search By Policy Number"
          />
        </div>
      </div>
    </div>
    <table class="table table-light table-responsive-md Data-table">
      <thead>
        <tr>
          <th scope="col">Sr.</th>
          
          <th scope="col">Policy Number</th>
          <th scope="col">Commission Type</th>
          <th>Date</th>
          <th scope="col">Commission Amount</th>
          <th scope="col">Action</th>
          <th scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commission of commissions; let i = index">
          <td>{{ calculateSRNumber(i) }}</td>
          
          <td>{{ commission.policyNumber }}</td>
          <td>{{ commission.commissionType}}</td>
          <td>{{ commission.date | date : "dd-MM-YYYY" }}</td>
          <td>&#x20B9;{{ roundToTwoDecimals(commission.amount) }}</td>

          <td>
            <!-- Show 'Approved' if commission status is 1 -->
            <div *ngIf="commission.status === 1">
              Pending
            </div>
          
            <!-- Show 'Pending' if commission status is 0 -->
            <div *ngIf="commission.status === 0">
              <button class="btn btn-success" (click)="withdrawCommission(commission)">
                Withdraw
              </button>
            </div>
          
            <!-- Show 'Withdraw Successful' if commission status is 2 -->
            <div *ngIf="commission.status === 2">
              Approved
            </div>

            <div *ngIf="commission.status === 3">
              Rejected
            </div>
          </td>

          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#policyModal"
              (click)="ViewDetail(i)"
            >
              View Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <li class="page-item text-center ms-1" *ngIf="currentPage > 1">
          <a
            class="page-link"
            (click)="changePage(currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item text-center ms-1" *ngFor="let page of pageNumbers">
          <a
            class="page-link"
            [ngClass]="{ active: currentPage === page }"
            (click)="changePage(page)"
            >{{ page }}</a
          >
        </li>
        <li
          class="page-item text-center ms-1"
          *ngIf="currentPage < pageNumbers.length"
        >
          <a
            class="page-link"
            (click)="changePage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div
    class="modal fade"
    id="policyModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
          <table>
            <tr>
              <td>Customer Name:</td>
              <td>
                {{ customerData.firstName }}
                {{ customerData.lastName }}
              </td>
            </tr>

            <tr>
              <td>Mobile No:</td>
              <td>+91 {{ customerData.mobileNumber }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ customerData.email }}</td>
            </tr>
            <tr>
              <td>Policy No:</td>
              <td>{{ policyData.policyNumber }}</td>
            </tr>
            <tr>
              <td>Scheme Name</td>
              <td>{{ policyData.schemeName }}</td>
            </tr>
            <tr>
              <td>Issue Date:</td>
              <td>{{ policyData.issueDate | date : "dd-MM-YYYY" }}</td>
            </tr>
            <tr>
              <td>Maturity Date:</td>
              <td>{{ policyData.maturityDate | date : "dd-MM-YYYY" }}</td>
            </tr>

            <tr>
              <td>Maturity Amount:</td>
              <td>
                <span style="font-family: 'RupeeFont'">₹</span
                >{{ policyData.sumAssured }}
              </td>
            </tr>
            <tr>
              <td>Premium Amount:</td>
              <td>
                <span style="font-family: 'RupeeFont'">₹</span
                >{{ roundToTwoDecimals(policyData.premiumAmount) }}
              </td>
            </tr>

            <!-- <tr>
              <td>Required Documents:</td>
              <td *ngFor="let rdoc of scheme.additionalDetail.requiredDocuments"><span>{{rdoc.docType}},</span></td>
            </tr> -->
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-other></app-footer-other>
